<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:user, url: users_save_path) do |f| %>

        <%= f.label :Name %>
        <%= f.text_field :name, class: 'form-control' %>
        <br>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <br>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <br>
        <%= f.label :type_user %>
        <%= f.select :typeu, options_for_select([['Operator', 1], ['Patient', 2]]) %>
        <br>
        <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>