<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h1>Log In</h1>
<div class="row">

  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:user, url: validate_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>